node-red/.test-flow-UART.json.backup
[{"id":"21ccafac.53e98","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"eff0258f.299408","type":"serial-port","z":"","serialport":"COM4","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"fa35d3d6.38e8c","type":"serial out","z":"21ccafac.53e98","name":"","serial":"eff0258f.299408","x":709.7847442626953,"y":195.1319580078125,"wires":[]},{"id":"c3de91ce.5a19c","type":"inject","z":"21ccafac.53e98","name":"Long Sample","topic":"","payload":"0p1p2p3p2p1pf&@#Helo UI .-)\\|line1\\line2\\^","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":194.32989501953125,"y":115.96180725097656,"wires":[["fa35d3d6.38e8c"]]},{"id":"2e03263d.5ecb2a","type":"inject","z":"21ccafac.53e98","name":"","topic":"","payload":"0xdodx","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":168.32989501953125,"y":199.95834350585938,"wires":[["fa35d3d6.38e8c"]]},{"id":"35a49757.cbb998","type":"serial in","z":"21ccafac.53e98","name":"","serial":"eff0258f.299408","x":144.32989501953125,"y":462.81597900390625,"wires":[["3e1a3d77.f55902"]]},{"id":"3e1a3d77.f55902","type":"debug","z":"21ccafac.53e98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":656.3299102783203,"y":447.90972900390625,"wires":[]},{"id":"885c2b74.bd9e9","type":"inject","z":"21ccafac.53e98","name":"Show IP (Fix","topic":"","payload":"&@#My IP\\|192.333.22.1 (test)^","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":187,"y":253,"wires":[["fa35d3d6.38e8c"]]},{"id":"c92797a4.34748","type":"inject","z":"21ccafac.53e98","name":"Swith to LedMode","topic":"","payload":"&@#Led mode\\key messsages\\are displeyed ^","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":203,"y":327,"wires":[["fa35d3d6.38e8c"]]},{"id":"bbffbf88.c4caa","type":"inject","z":"21ccafac.53e98","name":"","topic":"","payload":"@Hallo\\","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":159,"y":381,"wires":[[]]}]